*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80vw;
    margin: 0 auto;
}
.nwsrdr{
    font-family: 'Newsreader', serif;
}
.questrial{
    font-family: 'Questrial', sans-serif;
}
.qwigley{
    font-family: 'Qwigley', cursive;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
/* header */
.top{
    width: 100%;
    height: 700px;
    background-image: url("../img/hero-07-2x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 700px;
    position: relative;
}
/* header > nav-bar */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.nav-bar .logo img{
    width: 120px;
    position: absolute;
    left: 7.5%;
    
}
.nav-bar li{
    display: inline-block;
    padding: 20px;
    text-align: right;
}
.nav-bar li a{
    color: white;
    text-decoration: none;
    
}
.nav-bar li a:active,
.nav-bar li a:focus{
    color: #f3b329;
    border-top: 5px solid #f3b329 ;
    padding-top: 18px;
}
 /* jumbtron */
 .jumbotron{
     position: relative;
 }
 .jumbotron .author{
     width: 600px;
     position: absolute;
     left: 10%;
     transform: translateY(55%);
 }
 .jumbotron .author h1{
     color: #f3b329  ;
     
     font-size: 75px;
 }
.jumbotron .slider .crit{
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    
}
.jumbotron .slider .newspaper{
    margin-top: 25px;
    color: lightgray;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 25px;
   
}
.jumbotron .arrow-left{
    display: inline;
    line-height: 45px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}
.jumbotron .arrow-left i{
    color: white;
}
.jumbotron .arrow-right{
    display: inline;
    line-height: 45px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}
.jumbotron .arrow-right i{
    color: white;
}
.buy-box{
    width: 500px;
    height: 250px;
    position: absolute;
    right: 9%;
    top: 50%;
    background-color: white;
} 
.buy-box img{
 width: 30%;
 margin-left: 40px;
 margin-top: 40px;
 float: left;
 display: inline;
}
.latest-release{
    width:  200px;
    height: 70px;
    margin-top: 40px;
    display: inline;
} 
.latest-release h3{
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 20px;
}
.latest-release .book{
    color: #f3b329  ;
    font-weight: bold;
    font-size: smaller;
     
}
.latest-release .plot{
    font-size: smaller;
    margin-top: 15px;
    padding-right: 25px;
    margin-bottom: 30px;
}
.buy-button{
    width: 300px;
    border: 1px solid #3da698; 

}
.buy-button-am{
    width:  150px;
    display: inline-block;
    border: 1px solid #3da698;
    
    
}
.buy-button-ap{
    width: 150px;
    display: inline-block;
    border: 1px solid #3da698;
    
}
.more-about{
    width: 60vw;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.more-about h1{
    color: #f3b329 ;
    font-size: 70px;
}
.more-about p{
    font-size: 30px;
    line-height: 40px;
}
.where-to-find{
    width: 100%;
    height: 150px;
    background-color: #f3ece3 ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 70px;
}
.where-to-find img{
    width: 180px;
    height: 55px;
    margin-top: 50px;
    margin-left: 30px;
}
.audiobook{
    height: 500px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.audiobook img{
    position: absolute;
    top: 16.2%;
    left: 20%;
}
.new-audiobook{
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
}
.new-audiobook h1{
    color: white;
}
.new-audiobook .slogan{
    color: #f3b329 ;
    text-transform: uppercase;
    font-size: small;
    margin-top: 30px;
}
.new-audiobook p{
    color: white;
    margin-top: 40px;
}
.new-audiobook .kindle-logo{
    width: 100px;
    top: 120%;
    left: 0%;
}
.new-audiobook .bn-logo{
    width: 100px;
    top: 124%;
    left: 45%;
}
.new-audiobook .audible-logo{
    width: 100px;
    top: 124%;
    left: 90%;
}